<div>
  <h3 class="titulo">Filtra Noticias por Pais y Categoria</h3>
  <div class="row">
    <div class="col">
      <form action="">
        <div>
          <label>Tipo de Noticia:</label>
          <mat-form-field>
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>

          <label>Pais: </label>
          <mat-form-field>
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</div>
